{% extends "base.html" %}

{% block extra_head %}
{% endblock %}


{% block content %}
	<h2>Where all the DC Redditors at?</h2>
	<p>
		Check out where other DC Redditors are drinking! If you'd like to join in, register or log in using the buttons
		at the top of the screen.
	</p>

	<p>
		By using this, you should be fully aware that other Redditors can find out where you're at. Consider this a little "social experiment".
		This was built out of boredom by <a href="http://reddit.com/user/ryanmcgrath">Ryan McGrath</a>; if you have questions or comments, feel free
		to message him on Reddit.
	</p>

	<h2>Redditors around DC</h2>
	<ul id="results">
		{% for checkin in checkins.object_list %}
			<li class="top_level">
				<h3>{{ checkin.user.username }} <span class="checkin_list_timestamp">{{ checkin.timestamp|timesince }} ago</span></h3>
				<a href="/locations/{{ checkin.location.id }}/" class="anchored_action button orange_button">View Location</a>
				<a href="/redditor/{{ checkin.user.username }}/" class="anchored_action button">View User</a>
				<ul>
					<li><strong>Checked in at:</strong> {{ checkin.location.name }}</li>
					<li><strong>Identify by:</strong> {{ checkin.identify_by }}</li>
					<li><strong>Should be there for:</strong> {{ checkin.estimated_time_here }}</li>
				</ul>
			</li>
		{% endfor %}
	</ul>

	<ul id="pagination">
		{% if checkins.has_previous %}
			<li><a href="?page={{ results.previous_page_number }}">Previous Results</a></li>
		{% endif %}
		
		{% if checkins.has_next %}
			<li><a href="?page={{ results.previous_page_number }}">More Results</a></li>
		{% endif %}
	</ul>

{% endblock %}
